global:
  scrape_interval: 15s

scrape_configs:
  - job_name: zula-admin
    metrics_path: /actuator/prometheus
    static_configs:
      - targets:
          - host.docker.internal:8082

  - job_name: prometheus
    static_configs:
      - targets:
          - localhost:9090
